@font-face {
  font-family: Raleway-ExtraBold;
  src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: Raleway-ExtraLight;
  src: url(../fonts/Raleway-ExtraLight.ttf);
}

header .logo {
  font-size: 42px;
  color: #222;
  font-family: Raleway-ExtraBold;
}

header a {
  text-decoration: none;
  color: #000;
}

header .navbar {
  list-style: none;
  font-family: Raleway-ExtraLight;
}

.navbar a {
  color: #888;
}

.copyright {
  font-size: 10px;
}

@media screen and (max-width: 400px) {
  header .logo {
    font-size: 200px;
  }
}