@font-face {
  font-family: Raleway-ExtraBold;
  src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: Raleway-ExtraLight;
  src: url(../fonts/Raleway-ExtraLight.ttf);
}

#logo {
  max-width: 250px;
}

header a {
  text-decoration: none;
  color: #000;
}

header .navbar {
  list-style: none;
  font-family: Raleway-ExtraLight;
}

.navbar a {
  color: #888;
}

.copyright {
  font-size: 10px;
}

.about h4 {
  font-family: Raleway-ExtraLight;
}

.about li {
  font-family: Raleway-ExtraLight;
}

#homeImg {
  background-image: url('../images/homepage.jpeg');
  background-position: center;
  height: 650px;
  background-size: cover;
}

@media screen and (max-width: : 600px) {
  #logo {
    width: 200px
  }
}

