@font-face {
  font-family: Raleway-ExtraBold;
  src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: Raleway-ExtraLight;
  src: url(../fonts/Raleway-ExtraLight.ttf);
}

h1, h2, h3, h4, p {
  font-family: Raleway-ExtraLight;
}

#logo {
  max-width: 250px;
}

header a {
  text-decoration: none;
  color: #000;
}

header .navbar {
  list-style: none;
  font-family: Raleway-ExtraLight;
}

.navbar a {
  color: #888;
}

.copyright {
  font-size: 10px;
}

.about h4 {
  font-family: Raleway-ExtraLight;
}

.about li {
  font-family: Raleway-ExtraLight;
}

#homeImg {
  background-image: url('../images/homepage.jpeg');
  background-position: center;
  height: 650px;
  background-size: cover;
}

.intro {
  padding: 15px;
}

.intro * {
  margin-bottom: 1rem;
}

.intro *:last-child {
  margin-bottom: 0px;
}

.link-card-row {
  text-align: center;
}

.link-card {
  display: inline-block;
  margin: 20px 60px;
}

.link-card:hover {
  opacity: 0.8
}

.link-card img {
  max-width: 350px;
  width:100%;
}

.link-card a {
  text-decoration: none;
  color: #000000;
}

.link-card p {
  margin-top: 10px;
}

@media screen and (max-width: : 600px) {
  #logo {
    width: 200px
  }
}

